<div class="userInfo-container">
  <div class="userInfo-content">
    <div class="row">
      <div class="col-md-6">
        <h2 class="large-text">Informations Utilisateur</h2>
        <p class="large-text">Prénom: {{ userInfo?.prenom }}</p>
        <p class="large-text">Nom: {{ userInfo?.nom }}</p>
        <p class="large-text">Identifiant: {{ userInfo?.username }}</p>
      </div>
      <div class="col-md-6">
        <div *ngIf="posterPath">
          <h2 class="large-text">Dernier film aimé</h2>
          <img [src]="posterPath" alt="Poster du film">
        </div>
      </div>
    </div>
  </div>
</div>
