
<!--<button (click)="fetchFilms()">Générer le prochain film</button>
<h1>{{title}}</h1>
<img src="https://image.tmdb.org/t/p/w500{{posterPath}}" alt="Poster">

<div>
    <button (click)="toggleVideoAndResume()">Afficher le trailer et le résumé</button>
    <div *ngIf="showVideoAndResume">
        <div *ngIf="videoUrl">
            <h3>Trailer</h3>
            <iframe width="560" height="315" [src]="videoUrl" frameborder="0" allowfullscreen></iframe>
        </div>
        <div *ngIf="overview">
            <h3>Résumé</h3>
            <p>{{ overview }}</p>
        </div>
    </div>
</div>-->

<!-- Affichage des vignettes des 3 films précédents -->
<!--<div class="previous-films">
    <div *ngFor="let film of films.slice(0, 4)" class="previous-film">
        <img src="https://image.tmdb.org/t/p/w500{{film.posterPath}}" alt="Poster">
    </div>
</div>-->

<!-- <button (click)="fetchFilms()">Générer le prochain film</button> -->
<img id="dislike" src="../coeur-brise.png" onclick="dislike()">
<!-- <div class="container">
    <div class="swiper Slider-container">
        <div class="swiper-wrapper">
            <div *ngIf="films[0]" class="swiper-slide" id="card1" (click)="showYoutube(films[0].youtubeKey)">
                <img src="https://image.tmdb.org/t/p/w500{{films[0].posterPath}}"  />
            </div>
            <div *ngIf="films[1]" class="swiper-slide" id="card2" (click)="showYoutube(films[1].youtubeKey)">
                <img src="https://image.tmdb.org/t/p/w500{{films[1].posterPath}}"  />
            </div>
            <div *ngIf="films[2]" class="swiper-slide" id="card3" (click)="showYoutube(films[2].youtubeKey)">
                <img src="https://image.tmdb.org/t/p/w500{{films[2].posterPath}}"  />
            </div>
            <div *ngIf="films[3]" class="swiper-slide" id="card4" (click)="showYoutube(films[3].youtubeKey)">
                <img src="https://image.tmdb.org/t/p/w500{{films[3].posterPath}}"  />
            </div>
        </div>
    </div>    
    <h1 class="heading">{{title}}</h1>
</div> -->
<div class="swiper Slider-container">
    <div class="swiper-wrapper">
      <div class="swiper-slide" id="card1" (click)="showYoutube(youtubeKey)">
        <img src="https://image.tmdb.org/t/p/w500{{posterPath}}"  />
      </div>
      <div class="swiper-slide" id="card2" (click)="showYoutube('RNKFKDs5SGk')">
        <img src="https://image.tmdb.org/t/p/w500{{films[1].posterPath}}"  />
      </div>
      <div class="swiper-slide" id="card3" (click)="showYoutube('RNKFKDs5SGk')">
        <img src="https://image.tmdb.org/t/p/w500{{films[2].posterPath}}" />
      </div>
      <div class="swiper-slide" id="card4" (click)="showYoutube('RNKFKDs5SGk')">
        <img src="https://image.tmdb.org/t/p/w500{{films[3].posterPath}}"  />
      </div>
    </div>
  </div>
  <h1 class="heading">{{title}}</h1>
  
  <!-- Container for YouTube integration -->
  <div class="youtube-container" id="youtubeContainer">
    <iframe id="youtubeIframe" width="560" height="315" src="https://www.youtube.com/embed/videoId" frameborder="0" allowfullscreen></iframe>
  </div>
  
  <img id="like" src="../coeur.png" (click)="fetchFilms()">


